.robot-container {
display: flex;
flex-direction: column;
gap: 600px;
align-content: center;
}

.robot-face-shape {
    .square {
        width: 400px;
        height: 550px;
        border: 3px;
        background-color: lightslategray;
}
}

.robot-eye-left {
    .circle {
        width: 20px;
        height: 20px;
        border: 3px;
        background-color: yellow;
}
}

.robot-eye-right {
    .circle {
        width: 20px;
        height: 20px;
        border: 3px;
        background-color: yellow;
}
}

.robot-ear-left {
    .oval {
        width: 10px;
        height: 16px;
        border: 3px;
    }
}

.robot-ear-right {
    .oval {
        width: 10px;
        height: 16px;
        border: 3px;
}

.robot-nose {
    .rectangle {
        width: 6px;
        height: 40px;
        border: 3px;
}
}

.robot-teeth {
    .rectangle {
        width: 50px;
        height: 20px;
        border: 3px;
    }
}

.robot-tooth {
    .square {
        width: 10px;
        height: 10px;
        border: 1px;
    }
}

.robot-hair-style {
    .triangle {
        width: 10px;
        height: 12px;
        border: 3px;
}
}

.robot-hair-one {
    width: 5px;
    height: 7px;
    border: 3px;
}

.robot-hair-two {
    width: 5px;
    height: 7px;
    border: 3px;
}

.robot-hair-three {
    width: 5px;
    height: 7px;
    border: 3px;    
}
}